/* body, html { */
  /* width: 900px; */
  
/* } */

.featured-container {
    padding: 20px; 
    background-color:#FFF9F0;
    width: 1475px;
    display: block;
    justify-content: flex-start;
    border: 2px;
    height:180vh;
    padding: 5px 5px 5px 5px; 
    margin-left: 15px;
    
  
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(28, 58, 28);
    margin-left: 50px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 0px;
    width: 1400px;
    height:280px;
    border: 2px solid gray;
    margin-left: 35px;
    
  }
  .big-container {
    height: 195vh;
    background-color: #A8A6A6;
    width:1515px;
  }